.Kurtasetsproducts {
  padding: 60px 40px;
  background-color: lightpink;
  text-align: center;
}


/* Cards layout */
.Kurtasets-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

/* Individual card */
.cardKurtasets {
  background-color: #ffffff;
  border-radius: 50px;
  width: 30%;
  padding: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

/* Image */
.cardKurtasets img {
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
  margin-bottom: 15px;
}
/* Card text */
.cardKurtasets p {
  color: #666;
  font-size: 15px;
}
