.Accessoriesproducts {
  padding: 60px 40px;
  background-color: lightpink;
  text-align: center;
}


/* Cards layout */
.Accessories-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
 

}

/* Individual card */
.cardAccessories{
  background-color: #ffffff;
  border-radius: 50px;
  width: 500%;
  padding: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  
}

/* Image */
.cardAccessories img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 15px;
}

/* Card text */
.cardAccessories h3  {
  font-size: 22px;
  color: black;
  margin-bottom: 8px;
}

.cardAccessories p {
  color: #666;
  font-size: 15px;
}
