.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:lightcyan;
  flex-wrap: wrap;
  
}

.logo-name {
  color: black;
  font-size: 35px;
  font-weight: bold;
   letter-spacing: 2px;
   font-family: 'Times New Roman', Times, serif
}

.Menu {
  margin-left: 20px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;
}