.footer {
  background-color: lightcyan;
  color: black;
  padding: 40px 20px 10px;
  font-family: 'Poppins', sans-serif;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin-bottom: 1px;
}
.footer-section p {
  text-align: left;
  margin-left: 30%;
}
.footer-logo {
  font-size: 35px;
  margin-left: 10%;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.footer-text {
  font-size: 16px;
  line-height: 1.6;
  margin-right: 20%;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  margin-left: 40%;
}
.link {
  text-decoration: none;
  color: #000;
}

.footer-section ul li:hover {
  color: #f5b7c7;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 10px;
  margin-top: 20px;
}
